

*{
margin: 0;
padding: 0;


}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('https://besthqwallpapers.com/Uploads/19-8-2020/140002/brown-bricks-background-macro-brown-bricks-brown-brickwall-bricks-textures.jpg') no-repeat center center/cover;
}
.contenedor-principal{
  border: 2px rgb(16, 29, 73) solid;
  background-color: white;
  width: 80vw;
  max-width: 600px;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}
.contenedor-botones{
    padding: 20px;


}

#cronometro{
width: 100%;
font-size: 80px;
font-weight: bold;
user-select: none;
font-family: 'Courier New', Courier, monospace;

}
.boton{
 width: 60px;
 height: 30px;
 border-radius: 6px;
 color: white;
 background-color: rgb(16, 29, 73);
 border: none;
}